/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.main_mnu ul
		width: 100%

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.logo
		display: block
		float: left
		max-width: 70px
	.heading
		background: #fa5c65
		padding: 20px 10px 10px
		height: 70px
		width: 100%
		border-bottom-left-radius: 10px
		border-bottom-right-radius: 10px
	.main_mnu
		width: 10vh
		background-color: #fbfbfb
		float: left !important
		width: 20vh
		padding-top: 10vh
		margin-top: 50px
		position: relative
		top: 0
		margin: 0
		height: 100vh
		ul
			li
				display: block
				width: 100%
				padding: 25px 0
				&:hover
					background: rgba(58, 132, 223, 0.2)
					border: 1px solid rgba(0, 0, 0, 0.65)
	
	.servises_item
		text-align: center	
		width: 100%
		margin-bottom: 20px
	
	.portfolio_text
		float: left
		width: 100%
		margin: 10vh 0
		text-align: center
		text-transform: uppercase
	
	.team 
		text-align: center
		margin-bottom: 40px
		float: left
		
	.team-member
		display: inline-block


	/* Small Devices, Tablets */
@media only screen and (max-width : 768px) 
	.portfolio_text 
		margin-bottom: 30px
		text-align: center
		
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) 
	.team 
		text-align: center
		margin-bottom: 40px
		float: left

