@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Thin.otf");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/HelveticaNeue/Helvetica Neue Condensed Bold.ttf");
  font-style: normal;
  font-weight: normal; }
*::-webkit-input-placeholder {
  color: #dbdbdb;
  opacity: 1;
  padding-right: 15px; }

*:-moz-placeholder {
  color: #dbdbdb;
  opacity: 1;
  padding-right: 15px; }

*::-moz-placeholder {
  color: #dbdbdb;
  opacity: 1;
  padding-right: 15px; }

*:-ms-input-placeholder {
  color: #dbdbdb;
  opacity: 1;
  padding-right: 15px; }

html {
  width: 100%;
  overflow-x: hidden; }

body {
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  imgmax-width: 100%;
  padding: 0 !important; }

input {
  padding: 11px 12px; }

p {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.6px;
  color: #333333;
  font: normal 16px HelveticaNeue, Helvetica, Arial, sans-serif; }

ahover {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5 {
  font-style: normal;
  font-stretch: condensed; }

h1 {
  color: #333333;
  font-size: 40px;
  font-family: HelveticaNeue-Bold;
  line-height: 0.78;
  letter-spacing: 2.7px;
  margin: 0; }

h2 {
  font-size: 30px;
  font-family: HelveticaNeue-Bold;
  line-height: normal;
  letter-spacing: -0.4px; }

h3 {
  font-size: 20px;
  letter-spacing: -0.3px;
  line-height: 0.98;
  margin: 0; }

h4 {
  font-size: 23px;
  font-family: HelveticaNeue-Bold;
  letter-spacing: 0.8px;
  margin-top: 0px; }

h5 {
  font-size: 20px;
  font-family: HelveticaNeue-Bold;
  letter-spacing: 1.3px;
  color: #333333; }

section {
  background-color: #fff; }

.top {
  margin-top: 80px; }

.btn {
  background: none;
  border: 1px solid #f8c51c;
  border-radius: 3px;
  display: inline;
  min-width: 220px;
  padding: 0.9em;
  height: 50px;
  text-align: center;
  color: #fff;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 5px;
  font-size: 17px;
  font-family: HelveticaNeue-Bold;
  transition: 0.5s;
  margin-bottom: 10px; }
  .btn:hover {
    background-color: #F8C561;
    text-decoration: none; }

.yellow {
  background-color: #f8c51c;
  padding: 0 10px;
  width: fit-content;
  max-width: 250px;
  text-transform: uppercase; }

.btn-yel {
  background: #f8c51c; }

.btn-black-text {
  display: inherit;
  margin: auto;
  color: #333333; }

.center-position {
  text-align: center; }

.head-img {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

.Tovxin {
  margin-left: 15px;
  margin-top: 30px;
  width: 145px;
  height: 41px;
  font-family: Lato;
  font-size: 34px;
  font-family: HelveticaNeue-Bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.3px;
  text-align: left;
  color: #f8c51c;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  text-indent: 0px; }
  .Tovxin span {
    color: #fff;
    text-indent: 0px; }

.main-mnu {
  display: inline-block;
  text-align: center;
  width: 100%;
  float: left; }
  .main-mnu a {
    padding: 0px 15px;
    display: block;
    font-family: HelveticaNeue;
    font-size: 21px;
    font-family: HelveticaNeue-Bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #fff; }
  .main-mnu ul {
    margin: 38px;
    padding: 0;
    z-index: 12;
    list-style-type: none;
    text-align: center;
    display: inline-block; }
    .main-mnu ul li {
      display: inline-block; }

.language, .main-mnu-button {
  margin: 37px 5px;
  float: right; }

.language img {
  display: block; }

.descr {
  font-stretch: normal;
  line-height: 0.95;
  text-align: left; }

.line {
  width: 3px;
  height: 21px;
  border: solid 1px #f8c51c;
  background-color: #f8c51c; }

.line-7 {
  display: inline-block;
  width: 3px;
  height: 38px;
  border: solid 3px #f8c51c; }

.text-1 {
  padding: 0px; }

.text-2 {
  display: inline-block;
  font-size: 35px;
  line-height: 31px;
  font-weight: bold; }
  .text-2 h1 {
    color: #f8c51c;
    line-height: 31px;
    margin: 0; }

.text-3 h4 {
  color: #f8c51c; }

.scrolldown {
  left: 45.5%;
  top: 93vh;
  position: absolute; }
  .scrolldown img:hover {
    cursor: pointer; }

.register {
  padding-left: 50%;
  /*****************About-us*********** */
  /************************************ */ }
  .register .text-title {
    color: #000; }

.indentation {
  margin-bottom: 156px; }

.path {
  max-width: 361px;
  max-height: 101px;
  padding-bottom: 15px;
  border-radius: 3px;
  background-color: #333333; }
  .path h2 {
    padding-top: 18px;
    margin: 0;
    color: #f8c51c;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: -0.4px;
    text-transform: uppercase;
    padding-bottom: 0px; }
  .path h3 {
    padding-top: 5px; }

.Rectangle {
  width: 359px;
  padding-bottom: 30px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

.two-input {
  padding-top: 30px; }

.email, .phone {
  color: #000;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  margin: 0px 12px 15px 18px;
  display: block;
  height: 40px;
  width: 329px;
  background-color: #f3f3f3; }

.yellow-checkbox {
  position: relative;
  color: #8f8f8f;
  font-size: 12px;
  margin: 16px 0 35px;
  text-align: left;
  padding-left: 20px; }
  .yellow-checkbox label:before, .yellow-checkbox label:after {
    content: "";
    position: absolute;
    left: 18px;
    top: 4px; }
  .yellow-checkbox label:before {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 4px solid #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s; }
  .yellow-checkbox input[type="checkbox"] {
    outline: 0;
    margin-right: 10px;
    visibility: hidden; }
    .yellow-checkbox input[type="checkbox"]:checked + label:before {
      background: #f8c51c;
      z-index: 1;
      border-radius: 5px;
      border: 4px solid #f3f3f3; }
    .yellow-checkbox input[type="checkbox"]:checked + label:after {
      transform: rotate(-45deg);
      top: 5px;
      left: 4px;
      width: 12px;
      height: 6px;
      border: 2px solid #fff;
      border-top-style: none;
      border-right-style: none; }
  .yellow-checkbox:before, .yellow-checkbox:after {
    box-sizing: border-box; }

/* end of checkbox styles */
/************************************************** */
.bonus img {
  position: absolute;
  left: 327px;
  top: 68px; }

.all-pic {
  padding-top: 50px; }
  .all-pic:before {
    content: "";
    width: 100%;
    margin-top: 80px;
    border-bottom: solid 2px #F8C561;
    left: 0;
    position: absolute;
    z-index: 0; }

.layer {
  margin: 11px;
  margin-bottom: 80px; }

.number {
  opacity: 0.1;
  color: #adadad;
  font-size: 250px;
  font-family: HelveticaNeue-Bold;
  height: 100%;
  left: 5%;
  padding: 100px 0;
  width: 500px;
  margin: auto;
  position: absolute; }

.fonts {
  position: relative;
  background-image: linear-gradient(256deg, #494949, #232323); }

.fonts-mask {
  padding: 7% 0px;
  width: 50%;
  display: inline-block;
  float: left; }
  .fonts-mask h1 {
    line-height: normal;
    color: #fff; }

.fonts-mask > * {
  margin: auto;
  width: 100%;
  min-width: 400px; }

.description {
  color: #fff;
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.35; }

.picture {
  width: 40%;
  margin-left: 10%;
  padding-bottom: 60px;
  display: inline-block; }

.title-tov {
  margin-bottom: 90px; }

.onli-tovxin {
  font-family: Lato;
  display: inline;
  color: #333333;
  font-size: 34px;
  padding: 9px; }

.all-forms img {
  width: 100%;
  margin-bottom: 90px; }

.mauris {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 29px;
  letter-spacing: 0.9px;
  text-align: left;
  color: #333333; }

/*--------OPERAITOR--------- */
.s-mask {
  background-image: linear-gradient(253deg, #494949, #232323); }

.pic-girl {
  margin: 50px 0; }
  .pic-girl img {
    height: 400px; }

.calendar {
  right: -152.5px;
  top: 100px;
  position: absolute;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(111, 111, 111, 0.5);
  min-width: 600px;
  width: 100%;
  min-height: 100%; }

.icon-cal {
  margin-top: 25px; }

.text-calendar {
  margin-top: 20px;
  margin-bottom: 0px; }

.text-4 {
  margin: 15px 20px;
  margin-bottom: 90px; }
  .text-4:after {
    content: "";
    width: 50%;
    margin-top: 40px;
    border-bottom: solid 2px #F8C561;
    left: 25%;
    margin-bottom: 73px;
    position: absolute; }

.color-text {
  line-height: normal;
  letter-spacing: 1.8px;
  color: #333333; }

.colum-discount {
  min-height: 220px; }

.title-discount {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 17px;
  letter-spacing: 0.8px; }

.text-discount {
  margin: 6px 20px;
  font-family: HelveticaNeue;
  font-size: 16px;
  letter-spacing: 0.7px; }

.advent {
  padding: 25px 0;
  /*------footer----- */ }
  .advent:nth-of-type(1)::after, .advent:nth-of-type(2)::after, .advent:nth-of-type(3)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9; }
  .advent:nth-child(1) .colum-discount, .advent:nth-child(2) .colum-discount, .advent:nth-child(4) .colum-discount, .advent:nth-child(5) .colum-discount {
    border-right: 1px solid #d9d9d9; }

#place {
  background-image: linear-gradient(257deg, #494949, #232323); }

.font-money {
  background-image: url(../jpg/footer.jpg); }

.title-money {
  padding: 80px 0; }

.gold-title {
  color: #f8c51c; }

.black-text {
  line-height: 1.03;
  letter-spacing: 0.3px;
  font-family: HelveticaNeue; }

.footer-down {
  border-top: 1px solid #fff;
  opacity: 0.82;
  height: 100%;
  width: 100%;
  background-image: -webkit-linear-gradient(167deg, #494949, #232323);
  background-image: -o-linear-gradient(167deg, #494949, #232323);
  background-image: linear-gradient(257deg, #494949, #232323); }

.footer-sector {
  color: #fff; }

.mask-finish {
  margin-top: 76px;
  background-color: #434342; }

.form-position {
  margin-top: 94px; }

.form-senk {
  margin: 0 auto;
  pading: 0;
  display: table;
  top: 94px;
  max-width: 361px;
  border-radius: 3px;
  background-color: #333333; }

.senks {
  margin-top: 30px;
  color: #f8c51c; }

.shares {
  margin: 7px 10.5px 23px 10.5px;
  font-size: 21px;
  font-family: HelveticaNeue-Bold;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.btn-posit {
  margin-bottom: 50px; }

#myModal {
  text-align: -webkit-center; }

.modal-content {
  display: inline;
  border: none; }

.modal-header {
  padding: 5px;
  float: right;
  display: inline-block;
  background: none;
  border: none;
  position: relative; }

.modal-open {
  padding-right: 0 !important; }

.path-2 h2 {
  padding-top: 30px; }
