/* Medium Devices, Desktops */
@media screen and (max-width : 992px)
	.col-center
		text-align: center
	.main_mnu_buttons 
		display: inline-block
		cursor: pointer
		border-radius: 6px 
		opacity: 0.6
		float: right
		background-color: #fff
		border: 1px solid #c9c1a1
		i 
			color: #000
		&:hover
			background-color: #fff 
			opacity: 0.8

	.menu-header
		text-align: center
		height: 100vh
		display: none
		.otstup_mnu
			margin-top: 50%
			float: none
			li
				display: block 
				a 
					display: inline-block
					
	/* Small Devices, Tablets */
@media screen and (max-width : 768px)
	.otstup-right
		width: 100%
		margin-right: 20px
	.fonts.phone
		text-align: center
		margin: 0 auto
	.e-mail
		margin: 0
		padding: 0


		/* Extra Small Devices, Phones */
@media only screen and (max-width : 500px)

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)